<main id="home" class="container-fluid full-page home-page parallax-group">

  <img src="../../../assets/images/escape-bg.png" class="home-img" />

  <div class="row home">
    <div class="home-title centered col-xs-12 text-center">
      <span [@flyInFromLeft]="animations[0]" (@flyInFromLeft.done)="continueAnimation($event)">Mind Thrill Escape Rooms</span>
    </div>
    <div class="home-subtitle centered col-xs-10 col-md-offset-3 col-xs-offset-1 col-md-6 text-center">
      <span [@flyInFromRight]="animations[1]" (@flyInFromRight.done)="continueAnimation($event)">Puzzles, hidden clues, codes & unique challenges. Do you have what it takes to escape?</span>
    </div>
    <div class="home-icons col-xs-8 col-md-4 col-lg-2 col-xs-offset-2 col-md-offset-4 col-lg-offset-5 mar-top-30">
      <div [@growThenBounce]="animations[2]" (@growThenBounce.done)="continueAnimation($event)" class="icon icon-facebook">
        <a href="https://www.facebook.com/escapemackinaw/" class="fa fa-facebook-f" target="_blank"></a>
      </div>
      <div [@growThenBounce]="animations[3]" (@growThenBounce.done)="continueAnimation($event)"  class="icon icon-google">
        <a href="http://www.plus.google.com/" class="fa fa-google-plus"></a>
      </div>
      <div [@growThenBounce]="animations[4]" (@growThenBounce.done)="continueAnimation($event)"  class="icon icon-twitter">
        <a href="http://www.twitter.com/" class="fa fa-twitter"></a>
      </div>
    </div>
  </div>

  <div class="view-bottom centered">
    <div id="about-scroll" class="icon icon-down">
      <a class="fa fa-chevron-down"></a>
    </div>
  </div>

</main>
