<main id="rooms" class="container-fluid full-page rooms-page">

  <div class="row rooms">
    <div class="col-xs-12 room">
      <img src="../../../assets/images/rooms-pirate-bg.png" class="room-img" />
      <div class="room-overlay pad-top-10">
          <div class="row pad-top-50">
            <div class="col-xs-8 col-xs-offset-2 text-center room-overlay-title">
              <span>Pirate's Cove</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-md-6 col-xs-offset-1 col-md-offset-3 room-overlay-text">
              <p>It's the early 1700s and you are in the midst of the pirate era. You and a group of others have stolen from the legendary pirate, Black Beard. Fearing his wrath and what's to come, you escape on an expedition towards sanctuary. After a long journey, you come across pirate's cove. As you enter, boulders block the entrance behind you...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5 col-md-2 col-xs-offset-1 col-md-offset-4 text-center">
              <a routerLink="/rooms-pirates" class="btn room-button">Learn More</a>
            </div>
            <div class="col-xs-5 col-md-2 text-center">
              <a routerLink="/booking" class="btn room-button">Book Now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 room">
        <img src="../../../assets/images/rooms-escape-bg.png" class="room-img" />
        <div class="room-overlay">
          <div class="row pad-top-50">
            <div class="col-xs-8 col-xs-offset-2 text-center room-overlay-title">
              <span>Fort Escape</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-md-6 col-xs-offset-1 col-md-offset-3 room-overlay-text">
              <p>Take a step back in history and become a confederate prisoner of fort Michilimackinac. You must escape without being seen...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5 col-md-2 col-xs-offset-1 col-md-offset-4 text-center">
              <a routerLink="/rooms-fort" class="btn room-button">Learn More</a>
            </div>
            <div class="col-xs-5 col-md-2 text-center">
              <a routerLink="/booking" class="btn room-button">Book Now!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 room">
        <img src="../../../assets/images/rooms-stem-bg.jpg" class="room-img" />
        <div class="room-overlay">
          <div class="row pad-top-50">
            <div class="col-xs-8 col-xs-offset-2 text-center room-overlay-title">
              <span>S.T.E.M.</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-md-6 col-xs-offset-1 col-md-offset-3 room-overlay-text">
              <p>Travel back in time to 1958 and save Mackinaw City from small tin beings on this travel-sized adventure! Fans of <i>Doctor Who</i> may notice our TARDIS-like room...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-4 col-lg-2 col-xs-offset-3 col-md-offset-4 col-lg-offset-5 text-center">
              <a routerLink="/rooms-stem"  class="btn room-button">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="rooms-banner">
    <div class="rooms-title">
      <span>Our Rooms</span>
    </div>
    <span class="rooms-banner-strip"></span>
  </div>

  <div class="view-bottom centered">
    <div id="faq-scroll" class="icon icon-down">
      <a class="fa fa-chevron-down"></a>
    </div>
  </div>

</main>
