<main id="faq" class="faq-page pad-top-50 pad-bot-50">
  <div [@flyInFromTop]="animations[0]" (@flyInFromTop.done)="continueAnimations($event)" class="row">
    <div class="col-xs-12 text-center">
      <h1 class="header">FAQs</h1>
    </div>
    <div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="tab">
        <input id="tab-four" type="radio" name="tabs2">
        <label for="tab-four">Are we really locked into a room? What if I'm claustrophobic?</label>
        <div class="tab-content">
          <p>At Mind Thrill escape rooms, we want to make sure you have the most enjoyable experience possible. In order to do so, we are willing to adjust the game to your needs.</p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-five" type="radio" name="tabs2">
        <label for="tab-five">How hard is it to escape? Is it possible?</label>
        <div class="tab-content">
          <p>It is very possible to escape! We plan our rooms to be challenging and full of creative puzzles, but also doable for the average group!</p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-six" type="radio" name="tabs2">
        <label for="tab-six">How many people can participate?</label>
        <div class="tab-content">
          <p>We recommend groups of at least 2, and no more than 8. </p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-seven" type="radio" name="tabs2">
        <label for="tab-seven">How long does it take to do an escape room?</label>
        <div class="tab-content">
          <p>The total process should take no longer than an hour and a half. Arrive at least 15 minutes early. </p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-eight" type="radio" name="tabs2">
        <label for="tab-eight">What's the 'Tardis'?</label>
        <div class="tab-content">
          <p>Our Tardis room is a play on the show <i>Doctor Who</i>, and is a mini escape room with monthly puzzles.</p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-nine" type="radio" name="tabs2">
        <label for="tab-nine">What happens if I arrive late to my reservation?</label>
        <div class="tab-content">
          <p>If you're late to your reservation, your time slot becomes available for anyone to take.</p>
        </div>
      </div>
    </div>
  </div>

</main>
