<main id="contact" class="faq-page pad-top-50 pad-bot-50">
  <div [@flyInFromTop]="animations[0]" (@flyInFromTop.done)="continueAnimations($event)" class="row">
    <div class="col-xs-12 text-center">
      <h1 class="header">Contact</h1>
    </div>
    <div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2">
      <hr>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-xs-12 form">
          <label for="contactName">Name</label>
          <input type="email" class="form-control" id="contactName" placeholder="John Doe">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 form">
          <label for="contactEmail">Email address</label>
          <input type="email" class="form-control" id="contactEmail" placeholder="example@gmail.org">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 form">
          <label for="contactMessage">Content</label>
          <textarea class="form-control" id="contactMessage" placeholder="Your message here" rows="3"></textarea>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-xs-12 form">
          <a id="mail-btn" class="btn room-button">Send Message</a>
        </div>
      </div>

      <div class="row">
        <div id="success-msg" class="col-xs-12 has-success form">
          <span style="color: lightgreen; display: none;">Message successfully sent.</span>
        </div>
        <div id="error-msg" class="col-xs-12 has-error form">
          <span style="color: indianred; display: none;">Please make sure all fields are correct.</span>
        </div>
      </div>

    </div>

    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <h4><b>Still have questions?</b></h4>
          <h5>Feel free to contact us!</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <span class="fa fa-phone"></span>
        </div>
        <div class="col-xs-10 col-sm-10">
          <span>1 (231) 436 6150</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <span class="fa fa-envelope"></span>
        </div>
        <div class="col-xs-10 col-sm-10">
          <span>info@escapemackinaw.com</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <span class="fa fa-location-arrow"></span>
        </div>
        <div class="col-xs-10 col-sm-10">
          <span>136 S Huron St., Mackinaw City</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4><b>Our Hours</b></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          Sunday-Thursday 11am-10pm
        </div>
        <div class="col-xs-12">
          Friday-Saturday 11am-11pm
        </div>
      </div>
    </div>

  </div>

</main>
