<main>
  <div class="room-header">
    <img src="../../../../../assets/images/rooms-pirate-bg.png" class="room-img room-page-img" />
    <div class="room-overlay static-room-overlay pad-top-50 centered">
      <div class="row room-fitted-text">
        <div class="col-xs-8 col-xs-offset-2 text-center room-overlay-title">
          <span>Pirate's Cove</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container pad-top-40 pad-bot-40 room-content">
    <div class="row">
      <div class="col-xs-12 col-md-8 pad-bot-20">
        <div class="row">
          <div class="col-xs-12">
            <p>It's the early 1700s and you are in the midst of the pirate era. You and a group of others have stolen from the legendary pirate, Black Beard. Fearing his wrath and what's to come, you escape on an expedition towards sanctuary. After a long journey, you come across pirate's cove. As you enter, boulders block the entrance behind you...</p>
          </div>
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-6">
                <ul class="room-list" style="text-align: left;">
                  <li><span class="fa fa-users"></span> Groups of up to 8 people</li>
                  <li><span class="fa fa-picture-o"></span> Family-oriented (All ages)</li>
                  <li><span class="fa fa-lock"></span> Difficulty Level: 6.5/10</li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul class="room-list" style="text-align: left;">
                  <li><span class="fa fa-users"></span> Minimal group of 2 people</li>
                  <li><span class="fa fa-clock-o"></span> 1 hour adventure</li>
                  <li><span class="fa fa-usd"></span> $25/person $20/kid (12 & under)</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a routerLink="/booking" class="btn room-button">Book Now!</a>
              </div>
              <div class="col-xs-6 col-md-3 col-md-offset-3">
                <a routerLink="/leaderboards" class="btn room-button">Leaderboards</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="../../../../../assets/images/rooms-pirate-poster.jpg" class="img-fit-w" />
      </div>
    </div>
  </div>
</main>
