<main>
    <div class="room-header">
        <img src="../../../../../assets/images/rooms-stem-bg.jpg" class="room-img room-page-img" />
        <div class="room-overlay static-room-overlay pad-top-50 centered">
            <div class="row room-fitted-text">
                <div class="col-xs-8 col-xs-offset-2 text-center room-overlay-title">
                    <span>S.T.E.M. (SpaceTime Exploration Module)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container pad-top-40 pad-bot-40 room-content">
        <div class="row">
            <div class="col-xs-12 col-md-8 pad-bot-20">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Inside this travel-sized adventure, Mackinaw City has been taken over by small tin beings. Travel back in time to 1957 to save the city!</p>
                    </div>
                    <div class="col-xs-12">
                        <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                        <!--<ul class="room-list">-->
                        <!--<li>CONTENT HERE</li>-->
                        <!--<li>CONTENT HERE</li>-->
                        <!--<li>CONTENT HERE</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                        <!--<ul class="room-list">-->
                        <!--<li>CONTENT HERE</li>-->
                        <!--<li>CONTENT HERE</li>-->
                        <!--<li>CONTENT HERE</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="col-xs-12">

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="../../../../../assets/images/rooms-stem-pic.png" class="img-fit-w stem-img" />
            </div>
        </div>
    </div>
</main>
